.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.banner-text {
  color: #753bbd;
}

.loading-spinner {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-spinner {
    animation: App-logo-spin infinite 1s ease;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
